ansible-core==2.18.7
ansible-runner==2.4.1
cffi==2.1.1
cryptography==50.0.0
Jinja2==3.1.6
lockfile==0.12.2
MarkupSafe==3.0.3
packaging==26.3
pexpect==4.9.0
ptyprocess==0.7.0
pycparser==3.0
python-daemon==3.1.2
PyYAML==6.0.3
resolvelib==1.0.1
