[Unit]
Description=Run Swallow backup daily

[Timer]
OnCalendar=*-*-* 02:00:00 UTC
Persistent=true
RandomizedDelaySec=15m
Unit=swallow-backup.service

[Install]
WantedBy=timers.target
