apiVersion: v1
kind: ServiceAccount
metadata:
  name: swallow-reader
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: swallow-reader
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ swallow_k0s_reader_clusterrole }}
subjects:
  - kind: ServiceAccount
    name: swallow-reader
    namespace: kube-system
---
apiVersion: v1
kind: Secret
metadata:
  name: swallow-reader-token
  namespace: kube-system
  annotations:
    kubernetes.io/service-account.name: swallow-reader
type: kubernetes.io/service-account-token
