# Managed by Swallow (deploy-slurm). Unified cgroup v2 containment of cores, devices, and RAM.
CgroupPlugin=autodetect
ConstrainCores=yes
ConstrainDevices=yes
ConstrainRAMSpace=yes
ConstrainSwapSpace=yes
